$backgroundColor: rgb(26, 26, 26);
$backgroundItem: rgb(43, 20, 7);
$backgroundNavbar: rgba(177, 177, 177, 0.79);
$textColor: rgb(223, 211, 211);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: $backgroundColor
    }

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
header{
    min-height: 100vh;
    background-image:url("/assets/bgcoffe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
//// NavBar ////
.navbar{
    background-color: $backgroundNavbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        align-items: center;
    }
    li{
        // padding: 20px 0;
    }
    a{
        padding: 20px;
    }
    a:hover{
        background-color: aqua;
    }
    /// Cart ///
    .cart-btn{
        border: none;
        background: none;
        padding: 20px;
    }
    .cart-btn:hover{
        background-color: aqua;
    }
    
}


//// Shop ///
.container-shop{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3,26rem);
    // grid-template-rows: repeat(1,1fr);

    
}
.item-hide {
    display: none;
}

.item{
    border: solid violet 1px;
    color: $textColor;
    height: 450px;
    background-color: $backgroundItem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h3{
        text-align: center;
    }
    span{
        font-size: 40px;
    }
}

.item-description{
    color:$textColor;
}

// Media Query //
@media only screen and (max-width: 1300px){
    .container-shop{
        grid-template-columns:repeat(2,26rem)
    }
}
@media only screen and (max-width: 880px){
    .container-shop{
        grid-template-columns:repeat(1,20rem)
    }
}