$backgroundColor: rgb(122, 79, 61);
$backgroundItem: rgb(43, 20, 7);
$backgroundNavbar: rgba(42, 42, 42, 0.79);
$textColor: rgb(223, 211, 211);
$cartBackground: rgba(177, 177, 177, 0.79);
$itemBtnColor: rgb(182, 98, 20);
$itemBtnColorHover: rgb(248, 154, 66);
$backgroundFilter:rgb(27, 27, 27);
$backgroundHover: rgba(214, 157, 0, 0.696);
$backgroundCartTotal: rgba(43, 43, 43, 0.8);
$backgroundFooter: rgb(2, 1, 1);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Cairo', sans-serif;
}
html{
    scroll-behavior: smooth;
}
// Animation //
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeOut {
    100% { opacity: 1; }
    0% { opacity: 0; }
}
@keyframes menuShow {
    0% { width: 0;}
    100% { width: 100%;}
}

///////
body{
    background-color: $backgroundColor
    }

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    min-height: 100vh;
    background-image:url("/assets/bgchocolate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 60px;
        text-align: center;
        width: 400px;
        color: $textColor;
    }
}
//// NavBar ////
.navbar{
    background-color: $backgroundNavbar;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        color: $textColor;
        font-size: 30px;
        margin-left: 16px;
        
    }
    ul{
        display: flex;
        align-items: center;
    }
    // li{
    //     // padding: 20px 0;
    // }
    a{
        color: $textColor;
        padding: 18px;
        text-decoration: none;
        border-radius:6px;
        transition: all 0.3s;
    }
    a:hover{
        background-color:$backgroundHover;
    }
    
    /// Cart ///
    .cart-btn{
        border: none;
        background: none;
        padding: 32px;
        background-image: url("/assets/images/shopping-cart.svg");
        background-position: center;
        background-repeat: no-repeat;
        border-radius:6px;
        transition: all 0.3s;
    }
    .cart-btn:hover{
        background-color:$backgroundHover;
    }
    
}
.menu-btn{
    display: none;
    border: none;
    padding: 20px;
    background-image: url("/assets/images/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: $textColor;
    background-color: $backgroundNavbar;
}

// Cart //
.cart {
    position: absolute;
    position: fixed;
    right:0;
    top:64px;
    width: max(300px);
    // height: 600px;
    background-color: $cartBackground;
}
.cart-hide {
    display: none;
}
.cart-quantity{
    position: absolute;
    right: 8px;
    top: 0;
    color: red;
}
.cart-container{
    
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 600px;
    

}

.cart-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    background-color: $backgroundItem;
    color: $textColor;
    div{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
    img {
        width: 150px;
        height: 100px;
        object-fit: cover;
    }
    input {
        width: 40px;
        font-size: 20px;
        margin-bottom: 8px;
        border: none;
        background-color: $backgroundItem;
        color: $textColor;
    }
    button{
        padding: 14px;
        border: none;
        background-image:url("/assets/images/x.svg");
        background-repeat: no-repeat;
        background-position:right;
        font-size: 0;
        
        transition: font-size 0.3s;
        transition-timing-function: linear;
    }  
    button:hover{
        font-size: 16px;
        background-position: right;
    }
}
.cart-total{
    background-color:$backgroundCartTotal;
    color: $textColor;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        font-size: 20px;
        text-align: left;
        width: 100%;
    }
    button{
        font-size: 20px;
        border: none;
        padding: 12px;
        background-color: $itemBtnColor;
        color: $textColor;
        transition: background 0.3s ;
    }
    button:hover{
        background-color: $itemBtnColorHover;
        color: black;
    }

.complete-purchase{
    height: 100px;
    width: 100px;
    color: red;
}
}
//// Shop ///
.container-shop{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3,26rem);
    margin-top: 12px;
    min-height: 600px;
    
}
.item-hide {
    display: none;
    animation: fadeOut 1s;
}

.item{
    // border: solid violet 1px;
    border-radius: 10px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3);
    color: $textColor;
    height: 550px;
    animation: fadeIn 1s;
    background-color: $backgroundItem;
    
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h3{
        text-align: center;
        padding: 10px;
    }
    span{
        font-size: 40px;
    }
    input{
        width: 48px;
        border: none;
        padding: 8px;
        
        font-size: 16px;
        color: $textColor;
        background-color: $backgroundItem;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
    button {
        border: none;
        border-radius: 2px;
        padding: 8px;
        margin-bottom: 8px;
        background-color: $itemBtnColor;
        color: $textColor;
        font-size: 16px;
        transition: background 0.3s;
    }
    button:hover,
    button:focus{
        background-color: $itemBtnColorHover;
        color: black;
    }
}

.item-description{
    color:$textColor;
}


// Filter //
.filter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $backgroundFilter;
    width: 100%;
    padding: 16px;
    .input-filter {
        border: none;
        border-bottom: 1px solid $textColor;
        padding: 10px;
        padding-left: 40px;
        color: $textColor;
        font-size: 16px;
        font-weight:400;
        background-color: $backgroundFilter;
        background-image: url("/assets/images/search.svg");
        background-repeat: no-repeat;
        background-position: 5px ;
    }
}
.buttons-filter{
    button{
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 6px;
        border: none;
        color: $textColor;
        background-color: $backgroundFilter;

        transition: background 0.3s;
        transition-timing-function:ease;
    }
    button:hover,
    button:focus {
        background-color: $itemBtnColor;
    }
}
// Footer //
footer{
    display: flex;
    justify-content: flex-start;
    background-color: $backgroundFooter;
}
.footer-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    a{
        text-decoration: none;
        color: $textColor;
    }
}

// Media Query //
@media only screen and (max-width: 1300px){
    .container-shop{
        grid-template-columns:repeat(2,26rem)
    }
}
@media only screen and (max-width: 880px){
    .container-shop{
        grid-template-columns:repeat(1,20rem)
    }
}
@media only screen and (max-width: 600px){
    .menu-btn {
        display: inline-block;
    }
    .menu-btn:hover{
        background-color: $backgroundHover;
    }
    .menu-container{
        display: none;
    }
    .menu-show{
        animation: menuShow 0.4s;
        position: absolute;
        top: 60px;
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: $backgroundNavbar;
        ul {
            display: flex;
            flex-direction: column;
        }        
        li {
            padding: 10px;
        }
        a {
            padding: 10px;
        }
    }
    
    // .navbar a{
    //     display: none;
    // }
}